@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');*

*
{
    padding: 0;
    margin: 0;
    font-family: 'Alegreya Sans SC', sans-serif;   
}

.pantalla
{
    background-image: url('../../../assets/registro/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.box {

    width: 40%;
    height: 60%;
    background: rgba(220, 220, 221, 0.2);
    margin: 0 auto;
    margin-right: 0.625rem; /* Agrega un margen derecho */
    margin-left: 0.625rem;
    margin-top: 2%;
    padding: 2%;
    color: rgba(252, 255, 253, 0.527);
    text-align: center;
    border-radius: 0.938rem;
    border-color: #009aa5;
    border-style: double;
    
  }

  .contenedor-botones {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fila-botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem; /* Espacio entre filas */
  }
  
  .botonera
  {
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
  }

  .boton-especialista
  {
    width: 22vh;
    height: 22vh;
    padding: 0;
    margin: 0 10px; /* Espacio entre botones */
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.boton-especialista img
{
  width: 22vh;
  height: 22vh;
}

.boton-volver
{
  margin-top: 2vh;
  padding: 1vh;
  background-color: #03e5f5;
  border-radius: 10px;
  color: black;
  font-weight: bold;
}


h6, h2, h4
{
  color:black;
}

.contenedor-especialidades {
  display: flex;
  justify-content: center;
}

.especialidad-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.especialidad-button {
  position: relative;
  width: 22vh;
  height: 14vh;
  border: 2px double red;
  background-color: #009aa5;
  cursor: pointer;
  overflow: hidden;
}

p
{
  font-style: italic;
  color:black;
}

.especialidad-button:hover
{
  background-color:#03e5f5;
}


.especialidad-image {
  max-width: 100%;
  max-height: 100%;
}


.contenedor-botones
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}

.contendor-horarios {
  min-width: 85vh;
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border-radius: 0.938rem;
  border-color: #009aa5;
  border-style: double;
}

.horario-button {
  padding: 5px 5px;
  width: 13vh;
  height: 13vh;
  border: 2px double black;
  font-size: 16px;
  background-color:#009aa5;
  cursor: pointer;
}

.horario-button:hover
{
  background-color: aqua;
}

.contenedor-submit
{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

/* POP UP*/
.pop-up
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(151, 219, 231, 0.5);
  align-content: center;
  text-align: center;
  border: 0.188rem solid black;
  border-radius: 0.625rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 35%;
  width: 35%;
  color: rgb(13, 151, 71);
  backdrop-filter: blur(0.625rem);
}

.botones-pop-up
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1.25rem;
}

.boton-pop-up
{
    background: linear-gradient(to right, #ff0000 50%, #136bcf 50%);
    border: none;
    color: white;
    padding: 0.625rem 1.25rem;
    border-radius: 1.25rem;
    cursor: pointer;
}

.contenedor-imagen-popup
{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
}

.imagen-cancelar
{
    width: 1.25rem;
    cursor: pointer;  
}



/* SPINNER */
.contenedor-spinner
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 229, 245, 0.2);
    backdrop-filter: blur(3px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}