<div class="pantalla">
    <div class="box">
        <div class="contenedor-botones" >
            <div class="fila-botones" *ngFor="let especialista of listaEspecialistas">
                <div class="botonera" *ngIf="boxEspecialista">
                    <button (click)="elegirEspecialista(especialista)" class="boton-especialista"
                    [popover]="'Especialista: ' + especialista.apellido + ', ' + especialista.nombre"
                    triggers="mouseenter:mouseleave"><img [src]="especialista.imagen1"alt=""></button>
                </div>              
            </div>
        </div>
        <div class="contenedor-especialidades">
            <div *ngIf="boxEspecialidades">
                <div *ngFor="let especialidad of especialistaSeleccionado.especialidad">
                    <button (click)="elegirEspecialidad(especialidad)">
                        <img [src]="asignarImagen(especialidad)" alt="">
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="boxFechaHorarios">
            <p style="color:black;">Fechas-Horarios</p>
        </div>
    </div>
</div>
<div class="contenedor-spinner" *ngIf="spinner">
    <app-spinner id="spinner"></app-spinner>
</div>