
<div class="pantalla">
    <div class="contenedor-box" [@entrarIzqADer]> 
        <section class="box">
            <h1>Bienvenido/a</h1>
            <h2>Clinica online</h2><br>
            <h3>TP N°2 Labortorio IV</h3><br>
            <h4><span class="autor">AUTOR:</span>  <span class="nombre"> Agnoli, Luca Nahuel</span></h4>
        </section>
        <section class="box">
            <h1>Ingresar</h1><br>
            <h3>Ingrese para su mejor atención</h3>
            <br>
            <div class="contenedor-sesion">
                <button routerLink="../iniciar-sesion" class="iniciar">Iniciar sesión</button>
                <button routerLink="../registrarse" class="registrar">Registrarme</button>
            </div>  
        </section>
    </div>
</div>


