@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');

*
{
    font-family: 'Alegreya Sans SC', sans-serif;   

}

.pantalla
{
    background-image: url('../../../assets/registro/fondo.jpg');

    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.esconder
{
    display: none;
}

.box 
{
    width: 50%;
    height: 80%;
    background: rgba(112, 112, 155, 0.2);
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2%;
    color: rgba(252, 255, 253, 0.527);
    font-weight: bold;
    text-align: center;
    border-radius: 0.938rem;
    border-color: #009aa5;
    border-style: double;
    flex-shrink: 0;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button
{
    background: linear-gradient(to right, #ff0000 50%, #136bcf 50%);
    border: none;
    color: white;
    padding: 0.625rem 1.25rem;
    border-radius: 1.25rem;
    cursor: pointer;
    margin-bottom: 1.25rem;
}



h2
{
    color:rgb(13, 151, 71);
    font-weight: 600;
}

h4
{
    color:rgb(13, 151, 71);
    font-weight: 400;
}

h5
{
    color:rgb(13, 151, 71);

}

p{
    color:rgb(13, 151, 71);

}

.mensaje-error
{
  color:red;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.031rem;
}
input
{
    margin: 0.313rem;
    padding: 0.625rem;
    width: 60%;

    border: 0.125rem double black;
    color:black;
    border-radius: 0.625rem;
    background-color: #d9f1f3;
}

input::placeholder
{
    color:black;
}

.contenedor-input-error
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img
{
    width: 2rem;
}


.contenedor-input-imagen
{
    width: 100%;
    height: 100%;
}

/*     CARDS     */
.accesos-rapidos
{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}


.card img 
{
    width: 60px;
    height: 60px;
    border-radius: 0.25rem;
    margin-bottom: 0.625rem;
}

div div .boton-acceso {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    padding: 0;
    border: none;
    background: rgb(191, 235, 243);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .imagen-usuario {
    display: block;
    width: 45px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/*Responsive*/
@media screen and (max-width: 1110px) {
.box 
{
    max-width: 70rem;
    margin-top: 6.25rem;
}

.card 
{
    width: 45%;
}

.boton-acceso
{
    padding: 0.225rem 0.5rem;
}
}
@media screen and (max-width: 768px) {
    .box {
        max-width: 70rem;
    }
  
    .card {
      width: 45%;
    }

    .boton-acceso
{
    padding: 0.225rem 0.5rem;
}
  }
  
  @media screen and (max-width: 576px) {
    .box {
      width: 90%;
    }
  
    .card {
      width: 100%;
    }
  }
