@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');

*
{
    font-family: 'Alegreya Sans SC', sans-serif;   

}

.pantalla
{
    background-image: url('../../../assets/registro/fondo.jpg');

    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.pantalla .contenedor-informes
{
    width: 90%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-radius: 30px;
    border: 1px double rgb(0, 124, 161);
    background-color: rgba(3, 229, 245, 0.2);
}

.pantalla .contenedor-informes .card
{
    width: 35vh;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgba(1, 57, 61, 0.2);
    cursor: pointer;
    border-radius: 10px;
}

.pantalla .contenedor-informes .informes
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pantalla .contenedor-informes .card h4,
.pantalla .contenedor-informes .card h6
{
    color: white;
    font-weight: bold;
    text-align: center;
}

.pantalla .contenedor-informes .card img
{
    width: 18vh;
}


.contenedor-spinner
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 229, 245, 0.2);
    backdrop-filter: blur(3px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}





.contenedor-grafico
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Asegura que el gráfico esté superpuesto sobre otros elementos */
    background-color: #fff; /* Establece el fondo del gráfico */
    padding: 20px; /* Añade un espacio de relleno para mayor legibilidad */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contenedor-grafico canvas
{
    height: 400px !important;
    width: 80% !important;
    z-index: 999;
}


/* TABLA */
.contenedor-tabla
{
    margin-top: 10vh;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tabla
{
    width: 100%;
    background-color: rgb(102, 103, 104);
    color:white;
}

.encabezado-tabla
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background-color: rgb(240,240,240);
}

.encabezado-tabla h3
{
    color: #000000;
}

.encabezado-tabla div label, .encabezado-tabla div input
{
    color: black;
}

button{
    outline: none;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    padding: 0.625rem;
}


input
{
    padding: 0.625rem 1.25rem;
    margin: 0 0.625rem;
    outline: none;
    border: 0.063rem solid #0298cf;
    border-radius: 0.375rem;
    color: #0298cf;
}

.botonera
{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botonera button, tbody tr td button
{
    background-color: #03e5f5;
    
}

.botonera button:hover
{
    background-color: #0298cf;
}

.botonera-filtrada {
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
}
.seccion-tabla
{
    overflow: auto;
}


table
{
    width: 100%;
    table-layout: fixed;
    min-width: 56.25rem;
}

.logo
{
    width: 60px;
}

thead th
{
    position: sticky;
    top: 0;
    background-color: #cacdd1;
    color: #020508;
    font-size: 0.938rem;
}

th,td{
    border-bottom: 0.063rem solid #dddddd;
    padding: 0.625rem 1.25rem;
    word-break: break-all;
    text-align: center;
}

td img
{
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;
    border-radius: 0.938rem;
    border: 0.313rem solid #ced0d2;
}



tr:hover{
    color: #0298cf;
    cursor: pointer;
    background-color: #c0dcfa;
}

.tabla-logs
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}