@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');*

*
{
    padding: 0;
    margin: 0;
    font-family: 'Alegreya Sans SC', sans-serif;   
}

.pantalla {
    font-family: 'Alegreya Sans SC', sans-serif;   
    background-image: url('../../../assets/registro/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .pantalla .box {
    width: 70vw;
    padding-top: 1rem;
    padding-bottom: 0.1rem;
    background-color: rgba(3,229,245,0.5);
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 16px rgb(170, 216, 243);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }


  .card {
    /* Add shadows to create the "card" effect */
    width: 35vh;
    padding: 5px;
    height: 50vh;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(4, 100, 107, 0.9);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor:pointer;
  }

  .card:hover
  {
    background-color: rgb(16, 20, 221);
  }
  
  img
  {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
  }

  .contenedor-fechas
  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
 
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  .contenedor-historial
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(151, 219, 231);
    align-content: center;
    text-align: center;
    border: 0.188rem solid black;
    border-radius: 0.625rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 45%;
    color: rgb(0, 3, 1);
    backdrop-filter: blur(0.625rem);
    z-index: 999;
  }

  li strong{
    text-align: flex-start;
  }

  .contenedor-historial .header-historial button
  {
    background-color: aqua;
    border: 1px solid black;
    border-radius: 10px;
    width: 10vh;
  }

  .contenedor-datos
  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

/*SPINNER*/
.contenedor-spinner
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 229, 245, 0.2);
    backdrop-filter: blur(3px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}