<div class="pantalla" id="pantalla">
    <div id="box" class="box">
        <div class="tabla">
            <div class="encabezado-tabla">
                <img class="logo" src="../../../assets/logoClinica.png" alt="">
                <h3>Usuarios</h3>
                <div class="botonera">
                    <button (click)="abrirPopUp()" class="agregar-usuario">Registrar usuario</button>
                </div>
            </div>
            <div class="contenedor-cards">
                <div class="card" *ngFor="let usuario of listaUsuarios" (click)="descargarExcel(usuario)">
                    <img loading="lazy" [src]=usuario.imagen1 alt="Imagen usuario">
                    <div class="info-user">
                        <p>NOMBRE: {{usuario.nombre}}</p>
                        <p>APELLIDO: {{usuario.apellido}}</p>
                        <p>PERFIL: {{usuario.perfil}}</p>
                        <p *ngIf="usuario.perfil == 'especialista'">ACCIÓN:<input  type="checkbox" 
                            (click)="cambiarEstadoHabilitacion(usuario,$event)" [(ngModel)]="usuario.aprobado"></p>
                            <button (click)="verHistorial(usuario)" class="button-historial" *ngIf="usuario.perfil =='paciente'">Ver historial</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contenedor-pop-up" class="esconder admin-pop-up">
        <div class="contenedor-imagen-popup">
            <img class="imagen-cancelar" src="../../../assets/usuarios/cancelar.png" (click)="cerrarPopUp()" alt="Boton cancelar">
        </div>
          <h4>¿Qué usuario desea agregar?</h4>
          <div class="botones-pop-up">
            <button class="boton-pop-up" (click)="registrarUsuario('admin')" type="button">Admin</button>
            <button class="boton-pop-up" (click)="registrarUsuario('otros')" type="button">Especialista/Paciente</button>
          </div>
      </div>
      <div id="registro" class="esconder form-registro">
        <app-form-registro-admin (registroCompletado)="registroAdminCompletado()"></app-form-registro-admin>
      </div>

      <div class="contenedor-historial" *ngIf="historial">
        <div class="header-historial">
            <h1>Historia clínica</h1>
            <button (click)="historial = false;">Salir</button>
        </div>
          <div class="contenedor-datos" *ngFor="let historial of historialPorPaciente">
            <h4>Historial Clínico</h4>
            <ul>
              <li><strong>Fecha:</strong> {{ historial.fechaTurno }}</li>
              <li><strong>Paciente:</strong> {{ historial.paciente.apellido }}, {{ historial.paciente.nombre }}</li>
              <li><strong>Especialista:</strong> {{ historial.especialista.apellido }}</li>
              <li><strong>Peso:</strong> {{ historial.peso }}</li>
              <li><strong>Temperatura:</strong> {{ historial.temperatura }}</li>
              <li><strong>Presión:</strong> {{ historial.presion }}</li>
              <li><strong>Altura:</strong> {{ historial.altura }}</li>
              <li *ngFor="let campo of historial | excluirCampos">
                <strong>{{ campo[0] }}:</strong> {{ campo[1] }}
              </li>
            </ul>
            <hr />
          </div>
    </div>
</div>
<div class="contenedor-spinner" *ngIf="spinner">
    <app-spinner id="spinner"></app-spinner>
</div>

