<body>
    <nav>
        <a routerLink="bienvenida" class="logo">
            <img src="../../../assets/logoClinica.png" alt="">
            <span>LucAg</span></a>
        <ul class="navbar">
            <li><a routerLink="bienvenida" class="activo">Inicio</a></li>
            <li *ngIf="authService.estaLogueado && usuarioLogueado.perfil == 'admin'"><a routerLink="usuarios">Usuarios</a></li>
            <li *ngIf="authService.estaLogueado && usuarioLogueado.perfil == 'admin'"><a routerLink="turnos" >Turnos</a></li>
            <li *ngIf="authService.estaLogueado && (usuarioLogueado.perfil == 'admin' || usuarioLogueado.perfil == 'paciente')"><a routerLink="solicitar-turno" >Solicitar turno</a></li>
            <li *ngIf="authService.estaLogueado"><a routerLink="mi-perfil" >Mi perfil</a></li>
            <!-- <li *ngIf="authService.estaLogueado && (usuarioLogueado.perfil == 'especialista' || 
            usuarioLogueado.perfil == 'paciente')"><a routerLink="mis-turnos">Mis turnos</a></li> -->
            <li><a routerLink="mis-turnos">Mis turnos</a></li>
        </ul>
    
        <div class="main" *ngIf="!authService.estaLogueado">
            <a routerLink="../iniciar-sesion" class="usuario"><i class="ri-user-fill"></i>Iniciar sesión</a>
            <a routerLink="../registrarse">Registrarse</a>
            <div class="ri-menu-line" id="icono-menu" (click)="agruparMenu()"></div>
        </div>
        <div class="main" *ngIf="authService.estaLogueado">
            <a  class="usuario"><i class="ri-user-fill"></i>{{usuarioLogueado.apellido}}, {{usuarioLogueado.nombre}}</a>
            <a (click)="cerrarSesion()">Cerrar sesión</a>
            <div class="ri-menu-line" id="icono-menu" (click)="agruparMenu()"></div>
        </div>
    </nav>
</body>
<div class="esconder contenedor-spinner" id="spinner" *ngIf="spinner">
    <app-spinner ></app-spinner>
  </div>
