<div class="pantalla">
    <div class="contenedor-tabla">
        <div class="tabla">
            <div class="encabezado-tabla">
                <img class="logo" src="../../../assets/logoClinica.png" alt="">
                <h3>Turnos</h3>
                <div class="botonera">
                    <label>Filtrar por:</label>
                    <input type="text" placeholder="¿Qué desea buscar?">
                </div>
            </div>
            <div class="seccion-tabla">
                <table>
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Paciente</th>
                            <th>Especialidad</th>
                            <th>Especialista</th>
                            <th>Obra Social</th>
                            <th>Estado</th>
                            <th>Cancelar turno</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>a</td>
                          <td>b</td>
                          <td>c</td>
                          <td>d</td>
                          <td>e</td>
                          <td>f</td>
                          <td>g</td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
