@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');*

*
{
    padding: 0;
    margin: 0;
    font-family: 'Alegreya Sans SC', sans-serif;   
}

.pantalla
{
    background-image: url('../../../assets/registro/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* TABLA */
.contenedor-tabla
{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tabla
{
    width: 100%;
    background-color: rgb(102, 103, 104);
}

.encabezado-tabla
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background-color: rgb(240,240,240);
}

.encabezado-tabla h3
{
    color: #000000;
}

button{
    outline: none;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    padding: 0.625rem;
}

.agregar-usuario
{
    padding: 0.625rem 1.25rem;
    color: #ffffff;
    background-color: #0298cf;
}

input
{
    padding: 0.625rem 1.25rem;
    margin: 0 0.625rem;
    outline: none;
    border: 0.063rem solid #0298cf;
    border-radius: 0.375rem;
    color: #0298cf;
}

.botonera
{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.seccion-tabla
{
    overflow: auto;
}


table
{
    width: 100%;
    table-layout: fixed;
    min-width: 56.25rem;
}

.logo
{
    width: 60px;
}

thead th
{
    position: sticky;
    top: 0;
    background-color: #cacdd1;
    color: #020508;
    font-size: 0.938rem;
}

th,td{
    border-bottom: 0.063rem solid #dddddd;
    padding: 0.625rem 1.25rem;
    word-break: break-all;
    text-align: center;

}

td img
{
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;
    border-radius: 0.938rem;
    border: 0.313rem solid #ced0d2;
}



tr:hover{
    color: #0298cf;
    cursor: pointer;
    background-color: #c0dcfa;
}


::placeholder
{
    color: #0298cf;
}

::-webkit-scrollbar{
    height: 0.313rem;
    width: 0.313rem;
}

::-webkit-scrollbar-track{
    box-shadow: inser 0 0 0.375rem rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb
{
    box-shadow: inser 0 0 0.375rem rgba(0,0,0,0.3);
}


